<div class="nav-bar">
  <nav class="navbarItems">

    <div class="child">
      <h1 class="nav-logo" routerLink="/">
        Debuggar <i class="pi pi-comment" style="font-size: 2rem;"></i>
      </h1>
    </div>

    <!-- <div class="menu-icon">
      <i className={this.state.clicked ? "fas fa-times" : "fas fa-bars" }></i>
    </div> -->
    <!-- <ul className={this.state.clicked ? "nav-menu active" : "nav-menu" }>
      {MenuItems.map(function (item, index) {
      return (
      <li key={index}>
        <a className={item.cName} href={item.url}>
          {item.title}
        </a>
      </li>
      );
      })}
    </ul> -->
    <div class="child">
      <ul class="nav-menu">
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/json-summary" class="nav-links">json summary</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/json-aggregate" class="nav-links">json aggregate</a></li>
        <li *ngIf="authService.isLoggedIn()"><a routerLink="/send-request" class="nav-links">send request</a></li>

        <li *ngIf="!authService.isLoggedIn()"><a href="/login" class="nav-links">login</a></li>
        <li *ngIf="authService.isLoggedIn()"><a class="nav-links" style="cursor: pointer"
            (click)="authService.logout()">logout</a></li>
        <!-- <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li> -->
      </ul>
    </div>
  </nav>
</div>