<div id="content">
    <div class="mb-3 mt-3">
        <h1 style="color:rgb(0, 0, 0);">JSON Aggregate</h1>
    </div>
    <p-card header=" 1) Json input">
        <p-messages [(value)]="msgs" *ngIf="isChecked"></p-messages>
        <textarea class="w-full" [(ngModel)]="jsonInput" (change)="inputChanges(jsonInput)" [rows]="5" [cols]="30"
            pInputTextarea [autoResize]="false"></textarea>
        <button (click)="clear()" pButton type="button" label="Clear" class="p-button-danger mt-3"></button>
        <button (click)="check()" pButton type="button" label="Check" class="p-button-success mt-3 ml-2"></button>

        <p-divider></p-divider>
        <div class="mt-6">
            <h2>2) Select properties to group by</h2>
            <p-multiSelect [options]="groupProps" [(ngModel)]="selectedGroupProps" placeholder="Select"
                optionLabel="name">
            </p-multiSelect>
        </div>

        <p-divider></p-divider>
        <div class="mt-6">
            <h2>3) Select properties to sum</h2>
            <p-multiSelect [options]="sumProps" [(ngModel)]="selectedSumProps" placeholder="Select" optionLabel="name">
            </p-multiSelect>
        </div>

        <div class="mt-4">
            <button (click)="calculate()" pButton type="button" label="Calculate"
                [disabled]="!isJsonValid || !selectedGroupProps || !selectedSumProps"></button>
        </div>
        <p-divider></p-divider>
        <h1 style="margin-top: 50px; display: inline-block;">Result</h1>
        <textarea class="w-full" [rows]="10" [cols]="30" pInputTextarea [autoResize]="false">{{result|json}}</textarea>
        <button class="mt-2 p-button-secondary" (click)="copyResult()" pButton type="button" icon="pi pi-copy  "
            iconPos="left"></button>
    </p-card>
</div>