<app-navbar></app-navbar>

<div class="grid">
  <div class="col-2"></div>
  <div class="col-8">
    <h2>JSON INPUT</h2>
    <textarea class="w-full" [(ngModel)]="jsonInput" (change)="inputChanges(jsonInput)" [rows]="15" [cols]="30"
      pInputTextarea [autoResize]="false"></textarea>
    <div class="text-center mt-5">
      <h2>Select properties to sum</h2>
      <!-- <p-multiSelect [options]="props" [(ngModel)]="selectedProps" optionLabel="name">
      </p-multiSelect> -->
      <p-dropdown [options]="props" [(ngModel)]="selectedProps" placeholder="Select" optionLabel="name"
        [showClear]="true" [virtualScroll]="true"></p-dropdown>
    </div>
    <div class="text-center mt-5">
      <button (click)="calculate()" pButton type="button" label="Submit"></button>
      <h1 style="margin-top: 150px;">Result : {{result}}</h1>
    </div>
  </div>
  <div class="col-2"></div>
</div>